/* CSS reset */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: rgb(58, 34, 94);
    background: linear-gradient(180deg, rgba(58, 34, 94, 1) 0%, rgba(110, 85, 150, 1) 50%, rgba(165, 144, 195, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 100%;
}


/* remove a linha dos links */

a {
    text-decoration: none;
}


/* esconde as ancoras da tela */

a.links {
    display: none;
}

.content {
    width: 500px;
    min-height: 560px;
    margin: 0px auto;
    position: relative;
}

h1 {
    font-size: 48px;
    color: #5D9900;
    padding: 2px 0 10px 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(93, 153, 0, 0.8) 20%, rgba(93, 153, 0, 1) 53%, rgba(93, 153, 0, 0.8) 79%, rgba(93, 153, 0, 0) 100%);
    background: linear-gradient(left, rgba(93, 153, 0, 0) 0%, rgba(93, 153, 0, 0) 20%, rgba(93, 153, 0, 0) 53%, rgba(93, 153, 0, 0) 79%, rgba(93, 153, 0, 0) 100%);
}

p {
    margin-bottom: 15px;
}

.content p:first-child {
    margin: 0px;
}

label {
    color: #5D9900;
    position: relative;
}


/* placeholder */

::-webkit-input-placeholder {
    color: #405c;
    font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #7A0099;
    font-style: italic;
}

input {
    outline: none;
}


/*estilo dos input,  menos o checkbox */

input:not([type="checkbox"]) {
    width: 95%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #3a225e;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(93, 153, 0, 0.8) inset;
    box-shadow: 0px 1px 4px 0px rgba(93, 153, 0, 0.8) inset;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


/*estilo do bot達o submit */

input[type="submit"] {
    width: 50%!important;
    cursor: pointer;
    background: rgb(100, 85, 150, 100);
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #6e5596;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #3a225e;
    -webkit-border-radius: 5px;
    border-radius: 20px;
    transition: all 0.2s linear;
}


/*estilo do bot達o submit no hover */

input[type="submit"]:hover {
    background: #3a225e;
}

.link {
    position: absolute;
    background: #5D991130;
    color: #5D9900;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #6e5596;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 60px 60px;
}

.link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color: rgba(58, 34, 94, 1) 100%);
    margin-left: 10px;
    border: 1px solid #42570c;
    -webkit-border-radius: 4px;
    border-radius: 20px;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.link a:hover {
    color: #5D9900;
    background: #f7f7f7;
    border: 1px solid #5D9900;
}

#cadastro,
#login {
    position: absolute;
    top: 0px;
    width: 88%;
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: rgb(66, 87, 12);
    background: radial-gradient(circle, rgba(66, 87, 12, 1) 0%, rgba(58, 34, 94, 1) 100%);
    border: 1px solid rgba(58, 34, 94, 1) 100%);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(93, 153, 0, 0.8) inset;
    box-shadow: 0px 1px 4px 0px rgba(93, 153, 0, 0.8) inset;
    -webkit-box-shadow: 60px;
    border-radius: 60px;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}


/* Efeito ao clicar no bot達o ( Ir para Login ) */

#paracadastro:target~.content #cadastro,
#paralogin:target~.content #login {
    z-index: 2;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}


/* Efeito ao clicar no bot達o ( Cadastre-se ) */

#registro:target~.content #login,
#paralogin:target~.content #cadastro {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}


/*fadeInLeft*/

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/*fadeOutLeft*/

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}